/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=block');
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  outline: none;
  transition: border 250ms ease;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:focus {
  border: 1px solid #4e75ff;
}

.form-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background 250ms ease;
}

.form-btn:hover {
  background: #6c8cff;
}

.gallery {
  max-width: 1440px;
  padding: 40px 156px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  background-color: #ffffff;
}

.gallery-img {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  background: #fff;
  object-fit: cover;
}

.gallery-link {
  position: relative;
  display: flex;
  justify-content: center;
}

.gallery-info {
  position: absolute;
  bottom: 0;
  width: 360px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  background: #fff;
  padding: 4px 25px 4px 20px;
}

.gallery-info-title {
  color: #2e2f42;
  font-family: Montserrat;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.gallery-info-text {
  color: #2e2f42;
  font-family: Montserrat;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

/* .loader {
  display: none;
  margin: 0 auto;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: #fff;
  width: 256px;
  height: 24px;
} */

/* .loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, #cad73b 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
  margin: 0 auto;
  margin-top: 50px;
  display: none;
}

.loader::before {
  content: 'Loading...';
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
} */

.loader {
  width: 20px;
  height: 12px;
  display: block;
  margin: auto;
  position: relative;
  border-radius: 4px;
  color: #4e75ff;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader 0.6s 0.3s ease infinite alternate;
  display: none;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 20px;
  height: 12px;
  background: currentColor;
  position: absolute;
  border-radius: 4px;
  top: 0;
  right: 110%;
  animation: animloader 0.6s ease infinite alternate;
}
.loader::after {
  left: 110%;
  right: auto;
  animation-delay: 0.6s;
}

@keyframes animloader {
  0% {
    width: 20px;
  }
  100% {
    width: 48px;
  }
}

.loader.is-open {
  display: block;
}
